.App {
  text-align: center;
}

.navbar {
  background-color: black;
}

.search-bar {
  background-color: black;
}

.text-nav {
  color: white !important;
}

.card-city {
  color: white;
}

.text-pill {
  color: black !important;
}

.pill-nav {
  background-color: white !important;
}

@media (max-width: 600px) {
  #pill-navbar {
    display: none;
  }
}

.items-pill {
  margin-top: 2px;
}

#text-big-card {
  text-shadow: -1px 1px 10px rgba(1, 1, 1, 0.75)
}

#button-img {
  margin-top: 8px;
  border-radius: 7px;
}

.footer {
  color: black;
  background-color: rgb(247,247,247);
}